{% extends 'base.html' %}

{% block title %}Facebook Clone - Feed{% endblock %}

{% block body %}
  <div id="profile-link">
    <a href="/user/{{user.user_id}}" title="Go to your profile">
      Go to Profile
    </a>
  </div>
  <div id="searchBar">
    <form action="/search">
      <label for="term">Search by first name or last name</label>
      <input id="search" name="term" required
        type="text" placeholder="search by first name or last name">
      <button type="submit">Search</button>
    </form>
  </div>
  {% include 'suggested.html' %}
  <p>Your feed is comprised of your friends' posts</p>
  <div id="addPost"></div>
  <div id="feed"></div>
{% endblock %}

{% block js %}
  <script src="/static/js/feed.jsx" type="text/jsx"></script>
  <script type="text/jsx">
    ReactDOM.render(<Feed userId="{{user.user_id}}" userProfile={false} />, document.querySelector("#feed"));
  </script>
{% endblock %}