{% extends 'base.html' %}

{% block title %}Facebook Clone - User's post feed{% endblock %}

{% block body %}
  <div id="feed-link">
    <a href="/feed" title="Go to your feed">
      Go to Feed
    </a>
  </div>
  <h2>{{ user.first_name }} {{ user.last_name }}'s Posts</h2>
  <div id="searchBar">
    <form action="/search">
      <label for="search">Search by first name or last name</label>
      <input id="search" name="term" required
        type="text" placeholder="first name or last name">
      <button type="submit" class="submitBtn">Search</button>
    </form>
  </div>
  <div id="profile">
    <form action="/public" method="POST">
      <label for="public">Public?</label>
      <input type="checkbox" id="public" name="public" value="true"
        {% if user.public %}checked{% endif %}>
      If yes, people will be able to search and friend you.
      <button type="submit" class="submitBtn">Change public option</button>
    </form>
  </div>
  <div id="feed"></div>
{% endblock %}

{% block js %}
  <script src="/static/js/feed.jsx" type="text/jsx"></script>
  <script type="text/jsx">
    ReactDOM.render(<Feed userId="{{user.user_id}}" userProfile={true} />, document.querySelector("#feed"));
  </script>
{% endblock %}